* {
  margin: 0px;
  padding: 0px;
}

main {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

@font-face {
  font-family: FOT-Yuruka Std;
  src: url(./FOT-YurukaStd-UB.otf);
}

@font-face {
  font-family: Hometown;
  src: url(./Hometown-rgdax.ttf);
}

/* STYLE SECTIONING TAGS */
body {
 /* background-color: lightcyan;  */
}

/* STYLE TEXT */

h1 {
  color: #410004;
  font-family: "FOT-Yuruka Std", sans-serif;
  font-size: 2rem;
}

h2 {
  color: #550005;
  font-family: "FOT-Yuruka Std", sans-serif;
  font-size: 3rem;
}

h3 {
  color: #65090e;
  font-family: "FOT-Yuruka Std", sans-serif;
  font-size: 2rem;
}

p {
  color: #65090e;
  font-family: "Hometown", sans-serif;
  font-size: 3rem;
  text-align: right;
}

img {
  max-height: 100%;
  max-width: 100%;
  align-self: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  width: 250%;
}

.kitty2 {
  text-align: center;
}

.kitty1 {
  background-color: #ffecea;
  width: 20%;
  border-color: #e76a62;
  border-style: dashed;
  border-width: 10px;
  margin-left: 60%;
  margin-top: -20%;
}

.hello {
  padding-left: 35%;
  margin-top: -20%;
}

#me {
  padding-right: 47%;

}

.aboutme {
  padding-top: 20%;
  padding-left: 80%;
  z-index: 1;
}

.about {
  padding-top: 10px;
  padding-right: 4%;
  z-index: 1;
}



.homepaw {
  margin-top: -80px;
  z-index: -2;
}

.meetkitties {
  margin-top: 30%;
  margin-bottom: 0;
  z-index: 10;
}

.portfolio {
  margin-top: -20%;
  text-align: center;
}

.scribbletuber {
  /* z-index: -1; */
  padding-left: 3%;
  padding-top: 5%;
}

.scribbletuberText {
  padding-left: 6%;
  margin-top: -5%;
} 

.tacoCatCatcherText {
  padding-left: 14%;
  margin-top: -14%;
}

.tacoCatCatcher {
  padding-left: 35%;
  padding-top: 5%;
  margin-top: -27.8%;
}

.slimeGame {
  padding-left: 67%;
  margin-top: -22.8%;
}

.slimeGameText {
  padding-left: 23%;
  margin-top: -15%;
}

.zentangles {
  padding-left: 3%;
  padding-top: 5%;
}

.zentanglesText {
  padding-left: 8%;
  margin-top: -5%;
} 

.ceramics {
  padding-left: 35%;
  padding-top: 5%;
  margin-top: -28.1%;
}

.ceramicsText {
  padding-left: 14%;
  margin-top: -8%;
}

.blender {
  padding-left: 67%;
  margin-top: -22.8%;
}

.blenderText {
  padding-left: 27%;
  margin-top: -15%;
}

.kahoot {
  padding-left: 3%;
  padding-top: 5%;
}

.kahootText {
  padding-left: 6%;
  margin-top: -5%;
} 

.coca-cola {
  padding-left: 35%;
  padding-top: 5%;
  margin-top: -28.1%;
}

.coca-colaText {
  padding-left: 11%;
  margin-top: -14%;
}

.scene {
  padding-left: 67%;
  margin-top: -22.8%;
}

.sceneText {
  padding-left: 23%;
  margin-top: -25%;
}

.mushroom {
  padding-left: 3%;
  padding-top: 5%;
}

.mushroomText {
  padding-left: 8%;
  margin-top: -10%;
} 

.cloud {
  padding-left: 35%;
  padding-top: 5%;
  margin-top: -28.1%;
}

.cloudText {
  padding-left: 13%;
  margin-top: -14%;
}

.cupcake {
  padding-left: 67%;
  margin-top: -22.8%;
}

.cupcakeText {
  padding-left: 25%;
  margin-top: -26%;
}

.catOS {
  padding-left: 3%;
  padding-top: 5%;
}

.catOSText {
  padding-left: 10%;
  margin-top: -5%;
} 


.snowglobe {
  padding-left: 35%;
  padding-top: 5%;
  margin-top: -28.1%;
}

.snowglobeText {
  padding-left: 12%;
  margin-top: -8%;
}

.run {
  padding-left: 67%;
  margin-top: -22.8%;
}

.runText {
  padding-left: 25%;
  margin-top: -15%;
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding: 1em;
}


li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #410004;
  font-size: 1.3em;
  padding: 1em;
  font-family: "FOT-Yuruka Std", sans-serif;
  z-index: 10;
}

li a:hover {
  color: #ff8880;
}

/* STYLE IMAGES */

/* STYLE NAV BAR */